<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="navscroll">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="" src="./images/jpa logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="index.html">Hom</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="servicedropdown" href="#">Services</a>
                        <ul class="dropdown-menu border-0 bg-light" aria-label="#servicedropdown">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <li class="mainservice"><a href="service.html" class="">Oil & Gas</a>
                                            <ul class="">
                                                <li><a href="service.html">EP (exploration & production)</a></li>
                                                <li><a href="service.html">Mudula Refinaries</a></li>
                                                <li><a href="service.html">Petrol-chemical</a></li>
                                                <li><a href="service.html">Storage and Tankfarm</a></li>
                                                <li><a href="service.html">Import & Export</a> </li>
                                            </ul>
                                        </li>
                                    </div>
                                    <div class="col-md-4">
                                        <li class="mainservice"><a href="service.html" class="">Consulting</a>
                                            <ul class="">
                                                <li><a href="service.html">Asset Management</a></li>
                                                <li><a href="service.html">Trade Finance</a></li>
                                                <li><a href="service.html">PPA (power, purchaase, aggrement)</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                    <div class="col-md-4">
                                        <li class="mainservice"><a href="service.html">Logistics</a> 
                                            <ul class="">
                                                <li><a href="service.html">Air</a></li>
                                                <li><a href="service.html">Marinetime</a></li>
                                                <li><a href="service.html">Land</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="project.html">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    <a href="#" class="quote-btn" data-bs-toggle="modal" data-bs-target="#getquotemodal">Get a Quote</a>
                </ul>
            </div>
        </div>
    </nav>