 <nav class="bg-light d-none d-md-block topnavbar">
        <div class="container">
            <div class="row py-2">
                <div class="col-5 d-flex align-items-center">
                    <small class="mx-1">
                        <i class="fa fa-location-dot h6 text-danger"> </i>
                    </small>
                    <small class="mx-1">
                        <span style="opacity: .7;">3638 Darvell Circle, Aberdeen 21001, Maryland, USA</span> <br>
                        <span style="opacity: .7;">ABUJA: 68 Kwame Nkrumah Crescent, Asokoro.</span>
                    </small>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <small class="mx-1">
                        <i class="fa fa-phone h6 text-success"> </i>
                    </small>
                    <small class="mx-1">
                        <span style="opacity: .7;">+1-571-343-6300 <br> +491510387765</span>
                    </small>
                </div>
                <div class="col-3 links justify-content-end d-flex align-items-center">
                    <a href="./page_not_found.html" class="mx-1">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="./page_not_found.html" class="mx-1">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="./page_not_found.html" class="mx-1">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="./page_not_found.html" class="mx-1">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
     </nav>